#root {
  .link{
    color: white;
    justify-content: center;
    width: 242.5px;
    text-decoration: none;
  }

  .titulo:hover{
    color: rgb(255, 102, 0);  
  }

  .imagem{
    width: 100%;
    border: radius 15px;
  }
}

